.navbar-link {
    color: white;
    font-weight: 300;
    margin-right: 10px;
}

.navbar-link:hover {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.navbar-brand:hover {
    font-weight: bolder;
}

#contenuPost {
    background-color: white;
}
body { background: rgba(197, 200, 215, 0.28) !important; }
