<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>
<h1 class="display-3 text-center">Search User</h1>
<div class="container mt-3">
    <form method="POST" class="form-inline mb-3" action="#" th:action="@{/admin}">
        <div class="form-group ml-auto mr-2">
            <input name="username" type="text" class="form-control" id="searchContent" placeholder="Search" required>
        </div>
        <button type="submit" class="mr-auto btn btn-primary">Search</button>
    </form>
    <table th:if="${usernames != null}" class="table table-hover border border-secondary rounded">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>


            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="whiteBackground">
        <tr th:each="username : ${usernames}">
            <td th:text="${username.username}">Default name</td>
            <td><form class="float-right text-danger form-inline" th:method="put"  action="#" th:action="@{/admin/changerole/{id}/(id=${username.id})}">
                <label class="form-check-label mx-3" for="admin">Administrator</label>
                <input class="form-check-input" type="checkbox" th:checked="${#sets.contains(username.roles,roleAdmin)}" name="admin" id="admin">

                <label class="form-check-label mx-3" for="modo">Moderator</label>
                <input class="form-check-input" type="checkbox" th:checked="${#sets.contains(username.roles,roleModo)}" name="modo" id="modo">
                <button type="submit" class="mr-auto btn btn-primary">validate</button>
            </form></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>