<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: header"/>

<body>

<div th:replace="fragments/fragments.html :: navigation"></div>

<h1 class="display-3 text-center" th:text="${board.name}">Default name</h1>

<div class="container mt-3">
    <table class="table table-hover border border-secondary rounded">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last modified</th>
            <th scope="col"><a sec:authorize="isAuthenticated()" class="float-right" th:href="'/posts/create?boardId=' +  ${board.id}"><i class="fas fa-plus"></i></a></th>
        </tr>
        </thead>
        <tbody class="whiteBackground">
        <tr th:each="post, iterStat: ${posts}" th:onclick="'window.location.href=\'/posts/'+ ${post.id} + '/0' + '\''">
            <td th:text="${post.name}">Default name</td>
            <td th:text="${dates[iterStat.index]}">Default date</td>
            <td><a sec:authorize="isAuthenticated()" th:href="@{/posts/__${post.id}__/delete}" class="float-right text-danger"><i class="fas fa-trash"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>